



<div class="row">
  <center>
    <h1><strong><font color="#e74c3c">Are You Ready?</font></strong></h1>
  </center>
</div>

<div class="row">

  <div class="visible-xs visible-sm col-md-8">

  </div>


  <div class="col-md-8">
    <iframe src="//player.vimeo.com/video/80509159?title=0&amp;byline=0&amp;portrait=0&amp;color=cf112d&amp;autoplay=1" width="500" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br>
    <div class="panel panel-default visible-md visible-lg panelbg">
      <!-- Default panel contents -->
      <div class="panel-heading panelfont"><b>Get down with the BreakFit Challenge </b></div>
      <div class="panel-body">

        <%= render 'shared/submitform' %>
      </div>
    </div>


  </div>
  <div class="col-md-4">

    <h><strong><h2>RECEIVE POWERFUL COACHING</h2></strong></h2>
      <div id="arrow-list">
        <ul>
          <li>The new ground-breaking breakdance total body workout system is about to be released.</li>
          <li>Active working professionals, who want to stay ahead of the game, will be able to transform their bodies by learning advance training techniques.</li>
          <li><h3>Online training will be revealed on May 7, 2014.</h3></li>
        </ul>
      </div>

      <div class="visible-md">
        <%= image_tag "http://aws-cdn.hottopicmedia.com/dyd/static/images/global/red-arrow.png", width: '50%' %>
      </div>
      <div class="visible-lg">
        <%= image_tag "http://aws-cdn.hottopicmedia.com/dyd/static/images/global/red-arrow.png", :class =>"img-responsive" %>
      </div>
  </div>

  <div class="panel panel-default visible-xs visible-sm panelbg">
    <!-- Default panel contents -->
    <div class="panel-heading panelfont"><b>Get down with the BreakFit Challenge </b></div>
    <div class="panel-body">

      <%= render 'shared/submitform' %>
    </div>
  </div>
</div>
